/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

header a:hover {
  text-decoration: underline;
}

button {
  background-color: #4c66af;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #4592a0;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  border-radius: 5px;
}

.country-card {
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: transform 0.2s;
}

.country-card:hover {
  transform: scale(1.05);
}

.country-card img {
  max-width: 100px;
  border-radius: 5px;
}

.country-card h3 {
  margin: 10px 0;
}

.country-card p {
  margin: 5px 0;
}

.country-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.history ul {
  list-style: none;
  padding: 0;
}

.history ul li {
  background: #e0e0e0;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
}

.history ul li:hover {
  background: #d0d0d0;
}

.logout {
  background-color: #333;
}
